
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.logo{
    width: 48px;
}
img{
    width: 135px;
    height: 55px;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header{
    background-color: #fff;
    height: 3.5em;
    justify-content: space-between;
    padding: 0 15%;
    box-shadow: 1px solid #474444;
}

.navegacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3em;
}

.navegacao > a{
    text-decoration: none;
    color: black;
    padding: 16px;
}
.active{
    background-color: #529F99;
    color: aliceblue;
    border-radius: 5px;
    font-weight: bold;
    

}

.navegacao a:hover{
    background-color:#529F99;
    color: #fff;
    font-weight: bold;
}



.btn_icon{
    background-color: #fff;
    border: none;
    color: black;
    cursor: pointer;
    height: 50px;
    width: 50px;
    display: none;
}

.modal{

    height: 400px;
    width: 500px;
    background-color: #fff;
    box-shadow: #529F99 3px 3px 3px 3px ;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;

    box-shadow: 0 0 50px #ccc;

}
.modal button{
    margin-top: 50px;
    width: 50%;
    height: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #275564;

    color: #fff;

    font-weight: bold;
    font-size: 14pt;

    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.text-modal{
    height: 50%;
    width: 100%;

    padding: 30px;
}

.modal  h3{
    color: red;
    font-weight: bolder;
}


.text-modal > p{
    text-align: justify;
    font-weight: 200;
}
@media screen and (max-width:1305px){
    .btn_icon{
        display: block;
    }

    .navegacao{
        position: absolute;
        flex-direction: column;
        top: 0;
        height: 100%;
        width: 25vh;
        left: 0;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
        background-color: #fff;
    }
    .navegacao a{
        width: 100%;
        text-align: center;
    }

    .informacao > .text h1{
        font-size: 60px;
        margin-top: 45px;

    }
    .localimg{
        display: none;
    }
    .informacao .submit{
        padding: auto;
        width: 100%;
        color: #fff;
    }

    .fale_conosco > input{
        width: 100%;
    }

    .area_forms .enviar_info{
        max-width: 100%;
    }
}

@keyframes showSideBar {
    from {margin-left: -100vw;}
    top {margin-left: -10vw;}
    
}


/* Tela home */
.informacao{
    height: 90vh;
    background-color: #C5E2E8;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15%;

}

.text{
    margin-top: 100px;
    text-align: justify;
}

p{
    font-size: 14pt;
}
.localimg{
    height: 453px;
    width: 623px;
    margin-top: 11vh ;
    flex-direction: row;
    padding-left: 30px;
    
}

.img{
    height: 453px;
    width: 623px;
}


button{
    margin-top: 50px;
    width: 50%;
    height: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #275564;

    color: #fff;

    font-weight: bold;
    font-size: 14pt;

    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.submit > a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
}
a:hover{
    text-decoration: none;
    color: #fff;

}
button:hover{

    background: #529F99;
   
}




/* Pagina sobre */

.sobre{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 15%;

}

.sobre > h1{
    text-align: center;
}

.sobre > .info_text{
    margin-top: 30px;
    height: 400px;
    width: 100%;

    text-align: justify;
}


/* Pagina Contato */
.fale_conosco{
    color: #fff;
    height: 800px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15%;

    background-color: #3B3756;
}

.fale_conosco > h3 > h4{
    margin-top: 50px;
    align-items: center;
}

.area_forms{

    margin-top: 40px;
    font-size: 16pt;
    color: #fff;
    width: 100%;

    align-items: center;
}



