
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Poppins', sans-serif; 
    font-weight: 200px;

}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 15pt;
    font-family: 'Courgette', cursive;
}

.logo > h1{
    padding-top: 20px;
    font-size: 50pt;    
}
.img_logo{
    width: 135px;
    height: 55px;
}


.header{

    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #25a4bd;
    height: 5.0em;
    justify-content: space-between;
    padding: 0 15%;
    color: #fff;
   
}


.navegacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3em;

    color: #fff;
}

.NomeUni{
    
    font-size: 70pt;
    font-family: 'Courgette', cursive;
}

.navegacao > a{
    text-decoration: none;
    color: black;
    padding: 16px;

    width: 150px;

    color: #fff;

    text-align: center;
}
.active{
    background-color: #006f853a;
    color: aliceblue;
    border-radius: 5px;
    font-weight: bold;
    

}

.navegacao a:hover{
    border: 1px solid #fff;
    border-radius: 5px;
    background-color:#006f8500;
    color: #fff;
    font-weight: bold;

    transition: 0.5s;
}



.btn_icon{
    background-color: #fff;
    border: none;
    color: black;
    cursor: pointer;
    height: 50px;
    width: 50px;
    display: none;
}

.modal{

    height: 400px;
    width: 500px;
    background-color: #fff;
    box-shadow: #529F99 3px 3px 3px 3px ;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;

    box-shadow: 0 0 50px #ccc;

}
.modal > button{
    margin-top: 50px;
    width: 50%;
    height: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #275564;

    color: #fff;

    font-weight: bold;
    font-size: 14pt;

    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal > button:hover{
    background-color: #22726b;   
}


.modal > .text-modal > .link{
    margin-top: 100px;
}
.text-modal{
    height: 50%;
    width: 100%;

    padding: 30px;
}

.modal > h3{
    color: red;
    font-weight: bolder;
}


.text-modal > p{
    text-align: justify;
    font-weight: 500;

    color: red;
}




/* Tela home */
.informacao{
    height: 100vh;
    background-color: #25a4bd;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15%;

    color: #ffffffd8;
    

}

.text{
    margin-top: 100px;
    text-align: justify;
}

p{
    font-size: 14pt;
}
.localimg{
    
    margin-top: 11vh ;
    flex-direction: row;
    padding-left: 30px;
    
}

 .img{
    margin: auto;
}


.informacao > .text > button{
    margin-top: 50px;
    width: 50%;
    height: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #0a55645e;

    color: #fff;

    font-weight: bold;
    font-size: 14pt;

    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.informacao > .text > button:hover{
    margin-top: 50px;
    width: 50%;
    height: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #052a325e;

    color: #fff;

    font-weight: bold;
    font-size: 14pt;

    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.informacao > .text > button > a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
}
.informacao > .text > a:hover{
    text-decoration: none;
    color: #fff;
}
button:hover{
    background: #ffffff3a;
}




/* Pagina sobre */

.sobre{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 15%;

/*     background-color: #DDF1F8;
 */



 


}

.sobre > h1{
    color: #22726b;
    text-align: center;
}

.sobre > .info_text{
    height: 100px;
    width: 100%;

    text-align: justify;
}

.sobre > hr{
    background-color: #22726b;
   
}


/* Pagina de serviços */

.servicos{
       
/*     background-color: #f1ecec
 */
 background-color: #e1edf1;

 margin: 0 auto;

 padding: 0 15%;

}

.servicos > h1{
    text-align: center;
    color: #22726b;

    padding: 20px;
    
}

.servicos > hr{
    background-color: #22726b;
    height: 1px;
}

.container{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    margin-top: 20px;
    background-color: #ffffff;
}


.container:hover{
    box-shadow: 5px  20px 20px 5px #8AC2D0;
    transition: 0.5s;
}

.text-servico > .consulta{
    background-color: #22726b;
    height: 50px;
}

.text-servico > .consulta{
    color: #fff;
    padding: 10px;
    border-radius: 5px;

    border: none;
}

.text-servico > .consulta:hover{
    background-color: #25a4bd;
    padding: 10px;
    border-radius: 5px;

    border: none;

    font-weight: 700;
}

.container > .text-servico{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 15px;
}

.container > .text-servico > p{
    text-align: justify;
}
.container > .text-servico > h2{
    text-align: center;
    margin-top: 0;
}
.imgs{

    width: 520px;
    height: 400px;

    border-radius: 5px;

}

/* Pagina Profissionais */
.profissionais{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding-bottom: 50px;
}

.img_profissionais{

    
    width: 350px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #22726b;

    background-color: #fff;

    margin: 10px;

}

.img_profissionais:hover{
    -xpedu-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: 0.5s;

    box-shadow: 5px  20px 20px 5px #8AC2D0;
}

.img_p{
    font-size: 10px;
    border-radius: 100%;
}

.img_profissionais  > .sbMais{
    background-color: #22726b;
    color: #fff;
}

.img_profissionais > p{
    text-align: center;
}
.img_profissionais span{
    font-weight: bold;
}

.container_profissionais{
    padding:  0 15%;
    margin-bottom: auto;

    background-color: #e1edf1;

}
.container_profissionais > hr{
    color: #22726b;
    height: 1px;

    background-color: #22726b;
}

.nosso_profissionais{

    padding: 40px;
    text-align: center;
    color: #275564;
}

/* Pagina de dicas */

.dicas{
    background-color: #e1edf1;
}

.dicas > h1{
    text-align: center;
    color: #275564;
    margin-bottom: 40px;

}
.dicas > .info-dicas{
    padding: 0 15%;

    padding-bottom: 50px;
}


/* Pagina Contato */
.fale_conosco{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15%;

    background-color: #3B3756;
}

.fale_conosco > h3 > h4{
    margin-top: 50px;
    align-items: center;
}

.area_forms{

    margin-top: 40px;
    font-size: 16pt;
    color: #fff;
    width: 100%;

    align-items: center;

    margin-bottom: 20px;
}

.fale_conosco > .area_forms > .forms > .enviar_info{
    width: 100%;
    height: 50px;
    background-color: #529F99;

    border-radius: 5px;
    border: none;

    color: #fff;

}

.fale_conosco > .area_forms > .forms > .enviar_info:hover{

    background-color: #22726b;
    transition: 0.5s;

}


.rodape{
    height: 20vh;
    padding: 0 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    
    background-color: #2e2b43;
    color: #fff;
    

}

.rodape .card-deck{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.rodape .card-deck a{
    text-decoration: none;
    color: aliceblue;
}


/* Responsividade do site */
@media screen and (max-width:1305px){
    .img-service{
        display: none;
    }
 
    .btn_icon{
        display: block;
    }

    

    .navegacao{
        position: absolute;
        flex-direction: column;
        top: 0;
        height: 100%;
        width: 25vh;
        left: 0;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
        background-color: #fff;
    }
    .navegacao a{
        width: 100%;
        text-align: center;
    }

    .informacao{
        padding-bottom: 100px;
    }

    .informacao > .text h1{
        font-size: 40px;
        margin-top: auto;

    }

    .informacao .text > p{
        font-size: medium;
    }

    .sobre .text-info > p{
        font-size: medium;
    }

    .informacao > button{
        width: 20%;
        height: 20px;

        padding: 0;

    }
    .localimg{
        display: none;
    }
    .informacao .submit{
        padding: auto;
        width: 100%;
        color: #fff;
    }

    .fale_conosco{
        padding-top: 100px;
        font-size: x-small;
    }

    .fale_conosco >h1,h2{
        font-size: 15pt;
    }

    .forms > textarea{
        height: 100px ;
    }

    .fale_conosco > input{
        width: 100%;
    }

    .area_forms .enviar_info{
        max-width: 100%;

    }

    .fale_conosco{
        padding-bottom: 100px;
    }

    .rodape{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .rodape > .card-deck{
        margin-top: 10px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .rodape > .card-deck > .svg{
        font-size: 10pt;
    }

    .rodape > .card-deck > svg{
        width: 15px;
        height: 15px;
    }
}


@media screen and (min-width:700px){
   
    .localimg{
        margin-top: auto;
    }

    *{
        font-size: -10pt;
    }

    .img{
        /* Rendered size:	408 × 612 p */
        margin-top: auto;
    }
    

    .rodape .card-deck a{
        text-decoration: none;
        color: aliceblue;
    }
    
}

@media screen and (max-width:600px){

    .img-service{
        display: none;
    }


    .NomeUni{
        font-size: 50pt;
    }

    .informacao > .text > .text-informa{
        font-size: small;
    }

    .text-servico > h2{
        font-size: 20pt;
        padding: 10px;
    }
    .text-servico >  p,button{
        font-size: medium;
    }

    .img_profissionais{
        width: 100%;
    }
    .rodape .card-deck{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }

    .sobre{
        margin: 0;
    }

    .sobre > h1{
        font-size: 1.9rem;
    }

    .sobre > .info_text > p{
        margin-top: 0 auto;
        height: 100px;
        width: 100%;
        text-align: justify;

        font-size: medium;

        margin-bottom: 30px;
    }

    .fale_conosco{
        height: 100vh;
    }
    

    .rodape .card-deck a{
        text-decoration: none;
        color: aliceblue;
    }
    
}
@keyframes showSideBar {
    from {margin-left: -100vw;}
    top {margin-right: -10vw;}
    
}
